@import "~bootstrap/scss/bootstrap.scss";
html,
body,
#app-main {
    height: 100%;
    background-color: #101010
}

.content {
    margin-top: 50px;
}

iframe {
    display: block;
}

.videoWrapper {
    position: relative;
    // padding-bottom: 56.25%;
    // padding-right: 177.78%;
    // padding-right: 43.75%;
    /* 16:9 */
    // padding-top: 25px;
    // height: 0;
    // width: 50vw;
    // height: 50vh;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}