<b-container class="content">
    <b-row>
        <b-col class="content">
            <h1>
                <strong>
                  <span class="text-primary">{{webSiteName}}</span>
                </strong>
            </h1>
            <hr class="border border-primary">
            <h3>Add Videos:</h3>
            <br>
            <div v-for="videoLink in videoLinks" :key="videoLink">
                <video-link-viewer :videoLink="videoLink"></video-link-viewer>
            </div>
        </b-col>
    </b-row>
</b-container>